.call {
  position: fixed;
  top: 0;
  right: -100%;
  z-index: 100;
  display: flex;
  flex-direction: column;
  max-width: 44rem;
  background-color: var(--pure-white);
  padding: 2.4rem 1.6rem;
  height: 100%;
  transition: ease-in 0.7s;
  border-left: 0.1rem solid var(--frosted-mint);
  box-shadow: -1.6rem 0 3.2rem 0 var(--sidebar-shadow);
}

.call--show {
  right: 0;
  transition: ease-out 0.7s;
}

.call__call-closer-button {
  margin-bottom: 4rem;
}

.call__form {
  display: flex;
  flex-direction: column;
}

.call__header {
  margin-bottom: 2.4rem;
}

.call__header::before {
  position: absolute;
  left: -0.1rem;
  content: "";
  width: 0;
  height: 3.2rem;
  border-right: 0.4rem solid var(--bright-turquoise);
  border-radius: 0  0.4rem 0.4rem 0;
}

.call__form input {
  padding: 1.2rem 1.6rem;
  margin-bottom: 1.6rem;
  border: 1px solid var(--light-gray);
  border-radius: 0.8rem;
}

.call__submit-button {
  align-self: flex-end;
  width: 13.6rem;
  height: 3.2rem;
}

@media (min-width: 48em) {
  .call__call-closer-button {
    position: absolute;
    left: -8.9rem;
  }
}