:root {
  /* elements colors */
  --pure-white: #FFFFFF;
  --shaded-white: #F8F8F8;
  --light-gray: #EAEAEA;
  --bright-turquoise: #41F6D7;
  --aero-blue: #B8FFEC;
  --frosted-mint: #D9FFF5;
  --button-color: #FF3E79;

  /* swiper */
  --swiper-bullet: #DDDDDD;
  --swiper-bullet-active: #B5B6BC;

  /* text colors */
  --text-gray: #7E7E82;
  --text-black: #1B1C21;

  /* gradients */
  --fadeout-start: rgba(255, 255, 255, 0);
  --fadeout-middle: rgba(255, 255, 255, 0.7);

  /* shadows */

  --sidebar-shadow: rgba(14, 24, 80, 0.2);
}